@using ResumeWebsite.Shared;
<h3 class="block-title">Skills</h3>
@foreach (var skill in Skills.OrderByDescending(s => s.Percentage))
{
    <label class="progress-bar-label">@skill.Name - <span>@skill.Years years experience</span></label>
    <div class="progress">
        <div style="width: @(skill.Percentage)%;" class="progress-bar" role="progressbar" aria-valuenow="@skill.Percentage" aria-valuemin="0" aria-valuemax="100">
            <span>@(skill.Percentage)%</span>
        </div>
    </div>
}

@code {
    private IEnumerable<Skill> Skills = new List<Skill>()
    {
        new Skill(".NET Development", 3, 90),
        new Skill("Blazor", 2, 90),
        new Skill("Entity Framework", 3, 90),
        new Skill("HTML&CSS", 3, 90),
        new Skill("Adobe Experience Manager", 3, 85),
        new Skill("Java Development", 4, 88),
        new Skill("Application Maintenance", 3, 80),
        new Skill("Program Design", 3, 80),
        new Skill("Vue.js", 3, 90),
        new Skill("Azure Devops", 3, 75),
        new Skill("Microsoft SQL Server", 3, 75),
        new Skill("Test Driven Development", 4, 80),
        new Skill("Oject Oriented Programming", 4, 90),

    };
}
